// *****************FONTS******************// 
@font-face {
  font-family: "lato-medium";
  src: url("../assets/fonts/lato/Lato-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "lato-bold";
  src: url("../assets/fonts/lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "lato-regular";
  src: url("../assets/fonts/lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "lato-semibold";
  src: url("../assets/fonts/lato/Lato-Semibold.ttf") format("truetype");
}

.font-lato-medium {
  font-family: "lato-medium", sans-serif;
}

.font-lato-bold {
  font-family: "lato-bold", sans-serif;
}

.font-lato-regular {
  font-family: "lato-regular", sans-serif;
}

.font-lato-semibold {
  font-family: "lato-semibold", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;

  background: #000000e1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ED4C5C);
  border-radius: 6px;

}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #30ff00);
}

::selection {
  background: #ED4C5C;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

// Body//
body {
  .toggle {
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: transparent;
    border-radius: 6px;
    top: 40px;
    right: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border: 1px solid #fff;

    .fa-sun {
      font-size: 24px;
      color: #fff;
    }

    .fa-moon {
      display: none;
    }
  }

  .navbar-toggler {
    .fa-list-ul {
      font-size: 24px;
    }

    &:focus {

      box-shadow: none;
    }
  }

  // **********MAIN STYLE****************//
  main {
    width: 100%;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .layer {
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
      text-align: center;

      nav {
        padding: 30px;

        .brand-logo {
          width: 20%;
          display: block;

          img {
            width: 100%;
          }
        }

        .navbar-toggler:focus {
          outline: none;
        }

        .collapse {
          width: 80%;

          .col80 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .left {
              .nav-link {
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                font-family: "lato-regular", sans-serif;
                color: #fff !important;
              }
            }

            .right {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .dropdown {
                margin-right: 10px;

                .btn {
                  background-color: transparent;
                  color: #fff;
                  font-size: 14px;
                  line-height: 17px;
                  font-family: "lato-regular", sans-serif;

                  span {

                    img {
                      margin-right: 14px;
                    }
                  }

                  &:focus {
                    box-shadow: none;

                  }
                }

                .dropdown-menu {
                  min-width: 7.2rem;
                }

              }

              .login {
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 6px;
                padding: 11px 28px 12px 29px;
                color: #fff;
                text-transform: uppercase;
                font-size: 14px;
                line-height: 17px;
                font-family: "lato-regular", sans-serif;
                font-weight: normal;

                &:focus {
                  box-shadow: none;
                }

              }
            }
          }
        }
      }

      h1 {
        margin-top: 150px;
        margin-bottom: 39px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 72px;
        line-height: 86px;
        font-family: "lato-bold";
      }

      p {
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        color: #FFFFFF;
        font-family: "lato-semibold";
        width: 30%;
        margin: 0 auto;
      }

      .sign {
        margin-top: 40px;
        background-color: #fff;
        padding: 16px 52px 17px 53px;
        box-sizing: border-box;
        color: #ED4C5C;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        font-family: "lato-semibold";
        text-transform: uppercase;
        border-radius: 6px;
        margin-bottom: 125px;
      }

    }
  }

  // ***********SECTION STYLE****************//
  section {
    width: 100%;
    background-color: #fff;

    .row {
      padding-top: 94px;
      padding-bottom: 94px;

      h3 {
        margin-top: 46px;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
        font-family: "lato-semibold", sans-serif;
        margin-bottom: 24px;
      }

      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        text-align: justify;
        color: #000000;
        font-family: "lato-regular", sans-serif;
        margin-bottom: 4px;
      }

      a {
        text-decoration: none;
        font-size: 14px;
        line-height: 140%;
        text-align: justify;
        color: #ED4C5C;
        font-family: "lato-regular", sans-serif;
      }

      .video-layer {
        width: 70%;
        height: 100%;
        position: relative;
        margin: 0 auto;

        .nimadir {
          width: 100%;
        }

        .play {
          position: absolute;
          width: 66px;
          height: 66px;
          border-radius: 50%;
          background-color: #ED4C5C;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 50%;
          transform: translateY(-50%);
          left: -35px;
          cursor: pointer;
        }
      }
    }
  }

  // *********ARTICLE STYLE***************//
  article {
    width: 100%;
    background-color: #FAFAFA;

    h3 {
      padding: 63px 0px 63px 0px;
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
      color: #000000;
      font-family: "lato-semibold", sans-serif;
    }

    .card {
      margin-bottom: 229px;
      border: none;

      img {
        width: 100%;
      }

      .overlay {
        background-color: #FFFFFF;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        position: absolute;
        bottom: -123px;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        padding: 32px 33px 25px 33px;
        text-align: center;
        height: 225px;

        h4 {
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          color: #101010;
          font-family: "lato-bold", sans-serif;
          margin-bottom: 20px;
        }

        p {
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          color: #101010;
          font-family: "lato-regular", sans-serif;
        }

        a {
          font-weight: bold;
          font-size: 12px;
          line-height: 150%;
          color: #ED4C5C;
          font-family: "lato-bold", sans-serif;
          text-decoration: none;

        }

      }
    }
  }

  // **********Technology style***************//
  .technology {
    width: 100%;
    background-color: #fff;

    h3 {
      padding: 63px 0px 63px 0px;
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
      color: #000000;
      font-family: "lato-semibold", sans-serif;

    }

    .card {
      text-align: center;
      border: 0;

      .layer-text {
        width: 60%;
        height: 140px;
        margin: 0 auto;
        position: relative;

        .content1 {
          height: 100%;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
          position: absolute;

          h1 {
            font-weight: bold;
            font-size: 100px;
            color: rgba(16, 16, 16, 0.08);
          }
        }

        .content2 {
          z-index: 2;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);

          img {
            width: 100%;
          }
        }
      }

      h5 {
        margin: 19px 0px 10px 0px;
        font-size: 18px;
        line-height: 22px;
        color: #101010;
        font-family: "lato-bold", sans-serif;
      }

      p {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #000000;
        font-family: "lato-regular", sans-serif;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 10px;
      }
    }
  }

  // *********STAY Style***************//
  .stay {
    width: 100%;
    background-color: #ED4C5C;

    h2 {
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
      color: #FFFFFF;
      font-family: "lato-semibold", sans-serif;
      margin-top: 122px;
      margin-bottom: 24px;
    }

    .text-white {
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      text-align: justify;
      font-family: "lato-regular", sans-serif;
      padding-bottom: 44px;
    }

    .social {

      .fab {
        color: #fff;
        margin-right: 28px;
        font-size: 24px;
      }
    }

    .video-stay {
      margin-top: 94px;

      display: flex;
      position: relative;
      width: 100%;

      .stay1 {
        display: flex;
        z-index: 1;
        width: 100%;
        height: 267px;

        img {
          width: 50%;
        }
      }

      .stay2 {
        width: 80%;
        z-index: 2;
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);

        img {
          width: 100%;
        }
      }
    }
  }

  // **********CONTACT STYLE ************//
  .contact {
    width: 100%;
    background-color: #fff;

    h2 {
      margin-top: 100px;
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
      color: #000000;
      font-family: "lato-semibold", sans-serif;
      margin-bottom: 40px !important;
    }

    p {
      width: 70%;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      text-align: justify;
      color: #000000;
      font-family: "lato-regular", sans-serif;
    }

    form {
      input {
        margin-bottom: 24px;
        border: 1px solid #333333;
        box-sizing: border-box;
        border-radius: 6px;
        padding-left: 31px;
        padding-top: 21px !important;
        padding-bottom: 20px !important;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: rgba(19, 39, 67, 0.5) !important;
        font-family: "lato-regular", sans-serif;

        &:focus {
          box-shadow: none;
        }
      }

      .dropdown {
        button {
          width: 100%;
          border: 1px solid #333333;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: rgba(19, 39, 67, 0.5);
          font-family: "lato-regular", sans-serif;
          padding-top: 11px !important;
          padding-bottom: 11px !important;
          padding-left: 31px;
          margin-bottom: 27px;
          background-color: #fff;
          text-align: left;

          &:focus {
            box-shadow: none;
            border-color: #007bff;
          }
        }

        .dropdown-menu {
          width: 100%;
        }

        .dropdown-toggle::after {
          position: absolute;
          right: 20px;
          top: 20px;

        }

      }

      .sub-now {
        background: #ED4C5C;
        border: 1.5px solid #ED4C5C;
        box-sizing: border-box;
        border-radius: 6px;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: "lato-regular";
        width: 160px;
        height: 50px;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  // *******FOOTER****************//
  footer {
    width: 100%;
    background-color: #FAFAFA;

    h4 {
      margin-top: 85px;
      margin-bottom: 33px;
    }

    p {
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      color: #101010;
      font-family: "lato-regular", sans-serif;
    }

    a {
      font-weight: normal;
      font-size: 12px;
      line-height: 160%;
      color: #101010;
      font-family: "lato-regular", sans-serif;
    }

    .get-in {
      display: block;
      text-decoration: none;
    }

    .social-media {
      margin-top: 24px;

      .fab {
        margin-right: 16px;
      }
    }

    .copyright {
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      color: #101010;
      font-family: "lato-regular", sans-serif;
      margin-top: 86px;
      margin-bottom: 86px;
    }
  }
}

// ************MEDIA QUERY***************//
@media (max-width: 1199px) {
  body {
    .toggle {
      left: 50%;
      transform: translateX(-50%);
      top: 35px;
    }

    .collapse {
      .col80 {
        display: block !important;

        .left {
          .nav-link {
            margin-top: 20px;
            color: #fff;
          }
        }

        .right {
          display: block !important;

          .dropdown {
            display: none;
          }

          .btn {
            margin-top: 40px;
          }
        }
      }
    }

    section {
      .video-layer {
        padding-top: 30px;
      }
    }

  }
}

@media(max-width: 991px) {
  article {
    .card {
      .overlay {
        height: 170px !important;
      }
    }
  }
}

@media(max-width: 870px) {
  main {
    .layer {
      h1 {
        font-size: 40px !important;
        margin-top: 80px;
      }

      p {
        width: 80% !important;
        font-size: 17px !important;
      }

      .brand-logo {
        width: 30% !important;
      }
    }
  }
}

@media(max-width: 460px) {
  body {
    .toggle {
      position: absolute;
      left: 45px !important;
      top: 40px !important;
    }

    main {
      .layer {
        .brand-logo {
          width: 40% !important;
        }
      }

      h1 {
        font-size: 30px !important;
      }
    }

    nav {
      padding: 0 !important;
    }
  }
}

// Body light style//
body.light {
  .toggle {
    background: #154f56;
    color: #fff;
    border: none;

    .fa-sun {
      display: none;
    }

    .fa-moon {
      display: block;
      font-size: 24px;
      color: #fff;
    }
  }

  main {
    .layer {
      background: #000000e1;
    }
  }

  section {
    background: #000000e1;

    h3 {
      color: #fff;
    }

    p {
      color: #fff;
    }
  }

  article {
    background-color: #000000e1;

    h3 {
      color: #fff;
    }
  }

  .stay {
    .fab {
      color: #ED4C5C;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -o-transition: all .3s linear;

      &:hover {
        color: #fff;
      }
    }
  }

  .contact {
    h2 {
      color: #fff;
    }
  }

  footer {
    background: #000000e1;
    color: #fff;

    p {
      color: #fff;
    }

    a {
      color: #fff;
    }

    .fab {
      color: #ED4C5C;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -o-transition: all .3s linear;

      &:hover {
        color: #fff;
      }
    }


  }
}



